<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12 col-lg-12 text-right">
                        <button type="button" class="btn btn-primary" (click)="crearRegistro()">
                            <i class="ik ik-user-plus"></i> Agregar Nueva Ruta</button>
                    </div>
                    <div class="col-sm-12 col-lg-12 mt-3">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Nombre</th>
                                        <th scope="col">Descripcion</th>
                                        <th scope="col">Observacion</th>
                                        <th scope="col">URL</th>
                                        <th scope="col">Estado</th>
                                        <th scope="col">Accion</th>
                                    </tr>
                                </thead>
                                <tbody *ngFor="let registro of registros; let i = index">
                                    <tr>
                                        <td>{{registro.name}}</td>
                                        <td>{{registro.description}}</td>
                                        <td>{{registro.observation}}</td>
                                        <td>{{registro.URL}}</td>
                                        <td>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div style="width:10px;height:10px;border-radius:50%;" [class]="registro.online?'badge-success':'badge-danger'"></div>
                                                    <!-- <label class="badge badge-success" *ngIf="user.online">Activo</label>
                                                    <label class="badge badge-danger" *ngIf="!user.online">Inactivo</label> -->
                                                </div>
                                            </div>


                                        </td>
                                        <td class="text-center">
                                            <div class="row">
                                                <div class="col-sm-2 text-right">
                                                    <span style="cursor: pointer; text-decoration: solid;" (click)="alertaCambiarEstado(registro._id,registro.online)" data-toggle="modal" title="Cambiar Estado">
                                                    <i class="ik ik-x text-danger" *ngIf="registro.online"></i>
                                                    <i class="ik ik-check text-success" *ngIf="!registro.online"></i>
                                                </span>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- MODAL CREAR REGISTROS -->
<div class="modal fade" id="modalrRegistroCreate" tabindex="-1" role="dialog" aria-labelledby="demoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <form [formGroup]="registroForm" (ngSubmit)="alerta()" novalidate>
                <div class="modal-header">
                    <h4 class="modal-title" id="demoModalLabel">Agregar Nueva Ruta</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                          aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <small for="name">Nombre:</small>
                                <input type="text" formControlName="name" name="name" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <small for="description">Descripccion:</small>
                                <input type="text" formControlName="description" name="description" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <small for="observation">Observacion:</small>
                                <input type="text" formControlName="observation" name="observation" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <small for="URL">URL:</small>
                                <input type="text" formControlName="URL" name="URL" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>