<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h3>Lista de Rutas</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12 col-lg-12 text-right">
                        <button type="button" class="btn btn-primary" (click)="crearRegistro()">
                            <i class="ik ik-user-plus"></i> Agregar Nueva Ruta</button>
                    </div>
                    <div class="col-sm-12 col-lg-12 mt-3">
                        <p-table #dt [value]="registros" dataKey="id" styleClass="p-datatable-customers" [rowHover]="true" [rows]="5" [showCurrentPageReport]="true" [rowsPerPageOptions]="[5,10,25,50]" [loading]="loading" responsiveLayout="scroll" [paginator]="true" currentPageReportTemplate="Registros {first} - {last} de {totalRecords}"
                            [filterDelay]="0" [globalFilterFields]="['name','country.name','representative.name','status']">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th pSortableColumn="name">
                                        <div class="flex justify-content-between align-items-center">
                                            Nombre
                                        </div>
                                    </th>
                                    <th pSortableColumn="description">
                                        <div class="flex justify-content-between align-items-center">
                                            Descripción
                                        </div>
                                    </th>
                                    <th pSortableColumn="description">
                                        <div class="flex justify-content-between align-items-center">
                                            Observación
                                        </div>
                                    </th>
                                    <th pSortableColumn="description">
                                        <div class="flex justify-content-between align-items-center">
                                            URL
                                        </div>
                                    </th>
                                    <th pSortableColumn="description">
                                        <div class="flex justify-content-between align-items-center">
                                            Estado
                                        </div>
                                    </th>
                                    <th pSortableColumn="description">
                                        <div class="flex justify-content-between align-items-center">
                                            Acción
                                        </div>
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-registro>
                                <tr class="p-selectable-row">
                                    <td>
                                        <span class="p-column-title">Nombre</span> {{registro.name}}
                                    </td>
                                    <td>
                                        <span class="p-column-title">Descripción</span> {{registro.description}}
                                    </td>
                                    <td>
                                        <span class="p-column-title">Observación</span> {{registro.observation}}
                                    </td>
                                    <td>
                                        <span class="p-column-title">URL</span> {{registro.URL}}
                                    </td>
                                    <td>
                                        <span class="p-column-title">Estado</span>
                                        <div style="width:10px;height:10px;border-radius:50%;" [class]="registro.online?'badge-success':'badge-danger'"></div>
                                    </td>
                                    <td>
                                        <span style="cursor: pointer; text-decoration: solid;" (click)="alertaCambiarEstado(registro._id,registro.online)" data-toggle="modal" title="Cambiar Estado">
                                            <i class="ik ik-x text-danger" *ngIf="registro.online"></i>
                                            <i class="ik ik-check text-success" *ngIf="!registro.online"></i>
                                    </span>
                                    </td>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="emptymessage">
                                <tr>
                                    <td colspan="8">Registros no encontrados!</td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<!-- MODAL CREAR REGISTROS -->
<div class="modal fade" id="modalrRegistroCreate" tabindex="-1" role="dialog" aria-labelledby="demoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <form [formGroup]="registroForm" (ngSubmit)="alerta()" novalidate>
                <div class="modal-header">
                    <h4 class="modal-title" id="demoModalLabel">Agregar Nueva Ruta</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                          aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <small for="name">Nombre:</small>
                                <input type="text" formControlName="name" name="name" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <small for="description">Descripccion:</small>
                                <input type="text" formControlName="description" name="description" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <small for="observation">Observacion:</small>
                                <input type="text" formControlName="observation" name="observation" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <small for="URL">URL:</small>
                                <input type="text" formControlName="URL" name="URL" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>