<div class="auth-wrapper">
    <div class="container-fluid h-100">
        <div class="row flex-row h-100 bg-white">
            <div class="col-xl-8 col-lg-6 col-md-5 p-0 d-md-block d-lg-block d-sm-none d-none">
                <div class="lavalite-bg">
                    <div class="lavalite-overlay"></div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-7 my-auto p-0">
                <div class="authentication-form mx-auto">
                    <div class="text-center">
                        <img src="http://servicios.amt.gob.ec/web/recursos/LOGO-AMT.png" width="200px" alt="">
                    </div>
                    <div class="text-center">
                        <h2 class="mt-25">Administración</h2>
                    </div>
                    <h3 class="mt-25">Inicie Sesión</h3>
                    <form [formGroup]="loginForm">
                        <div class="form-group">
                            <input type="text" class="form-control" formControlName="email" placeholder="Usuario" required="" value="">
                            <i class="ik ik-user"></i>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" formControlName="password" placeholder="Constraseña" required="" value="">
                            <i class="ik ik-lock"></i>
                        </div>
                        <div class="sign-btn text-center">
                            <button class="btn btn-theme" (click)="login()">Ingresar</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>