<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12 col-lg-12 text-right">
                        <button type="button" class="btn btn-primary">
                            <i class="ik ik-user-plus"></i> Agregar Usuario</button>
                    </div>
                    <div class="col-sm-12 col-lg-12 mt-3">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Nombre</th>
                                        <th scope="col">Usuario</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Estado</th>
                                        <th scope="col">Acción</th>
                                    </tr>
                                </thead>
                                <tbody *ngFor="let user of usuarios; let i = index">
                                    <tr>
                                        <td>{{user.name}}</td>
                                        <td>{{user.username}}</td>
                                        <td>{{user.email}}</td>
                                        <td class="text-center">
                                            <div style="width:10px;height:10px;border-radius:50%;" [class]="user.online?'badge-success':'badge-danger'"></div>
                                        </td>
                                        <td>
                                            <span style="cursor: pointer; text-decoration: solid;" (click)="alertaCambiarEstado(user.id,user.online)" data-toggle="modal" title="Cambiar Estado">
                                                <i class="ik ik-x text-danger mr-2" *ngIf="user.online"></i>
                                                <i class="ik ik-check text-success mr-2" *ngIf="!user.online"></i>
                                            </span>
                                            <span style="cursor: pointer; text-decoration: solid;" (click)="verRutasPorUsuario(user.id)" data-toggle="modal" title="Permisos">
                                                <i class="ik ik-search text-primary"></i>
                                            </span>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>