.body {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #f5f5f5; */
    height: 100%;
}

.login {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    text-align: center;
}

input.example-right-align::-webkit-inner-spin-button {
    display: none;
}

.example-container .mat-form-field+.mat-form-field {
    margin-left: 8px;
}